<strong>Olá, {{ deliveryman }}</strong>
<p>Uma Encomenda foi Cancelada, confira os detalhes abaixo:</p>
<p>
    <strong>Código: </strong> {{ delivery_id }} <br/>
    <strong>Produto: </strong> {{ delivery }} <br/>
    <br/>
    <small>
        Para mais detalhes, acesse a plataforma.
    </small>
</p>
