<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova Encomenda disponível, confira os detalhes abaixo:</p>
<p>
    <strong>Código: </strong> {{ order_id }} <br/>
    <strong>Produto: </strong> {{ order }} <br/>
    <br/>
    <small>
        Para mais detalhes, acesse a plataforma.
    </small>
</p>
